@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent;
  }
}

.flex-center {
  @apply flex items-center justify-center;
}



.enunciado p,
ul,
ol {
  margin-bottom: 0.5rem;
}

.enunciado table {
  @apply w-full border-t;
}

.enunciado table tr {
  @apply border-b h-8;
}

.enunciado table tr td,
th {
  @apply px-3;
}

.enunciado ul {
  list-style-type: square;
  list-style-position: inside;
}

.enunciado ol {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}

.enunciado ul li,
ol li,
table {
  margin-bottom: 0.3rem;
}

.enunciado table {
  @apply border shadow-sm;
}

table tr th {
  background-color: #cccccc50;
}
